* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Microsoft JhengHei';
}
a:hover{
    text-decoration: none;
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgb(224, 229, 233);
}
.header{
    width: 800px;
    margin: auto;
}
.survey_box,.story_box{
    width: 100px;
    height: 60px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
}
.status_box{
    width: 200px;
    height: 60px;
    display: flex;
    float: right;
}
.page{
    width: 1000px;
    min-height:800px;
    margin: 10px auto 0px auto;
    display: flex;
    justify-content: flex-end;
}

.content{
    width: 700px;
    min-height:800px;
}
.ad{
    width: 200px;
    min-height:800px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

footer{
    width: 100%;
    height: 100px;
    text-align: center;
    color:white;
    background-color: black;
}
.display_box{
    background-color: rgba(0,0 ,0,0.3);
    position: fixed;
    display: none;
    top:0px;
    z-index: 99;
}
.display_res{
    width: 300px;
    min-height: 500px;
    position: fixed;
    display: none;
    top:0px;
    z-index: 100;
    background-color: white;
    padding: 30px 50px;
    border-radius: 20px;
}
.res_header{
    width: 200px;
    height: 60px;
    padding-top:10px;
    text-align: center;
    font-size: 30px;
}
.res_content{
    width: 200px;
    padding-top:5px;
    border-top: 5px solid rgb(82, 82, 82);
    text-align: center;
}