.table_header a:hover {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.table_header a{
    border:1px solid #b4b4b4;
    padding: 5px 10px;
}

.table_box {
    padding-top: 20px;
}
.th:hover{
    background-color: rgb(87, 87, 87);
    transition: 0.3s;
}
.th:hover a{
    color:white;
}
.order_active{
    background-color: rgb(87, 87, 87);
}
.order_active a{
    color:white;
}
table {
    width: 80%;
    margin: auto;
    text-align: center;
}

.table_header {
    width: 90%;
    height: 40px;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
}
    
h1 {
    font-size: 30px;
    font-weight: bolder;
    display: inline-block;
}

tr:nth-child(1) th {
    padding: 5px;
    border-bottom: 2px solid rgb(48, 48, 54);
}

th:nth-child(2) {
    width: 26%;
}

th:nth-child(1) {
    width: 20%;
}

th:nth-child(3),th:nth-child(5),th:nth-child(6){
    width: 13%;
}
th:nth-child(4){
    width: 15%;
}




td{
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

td:nth-child(2) {
    width: 27%;
}

td:nth-child(1) {
    width: 20%;
}

td:nth-child(3),td:nth-child(5),td:nth-child(6){
    max-width: 70px;
    overflow: hidden;
}
td:nth-child(4){
    max-width: 70px;
}

tr:NOT(:nth-child(1)):hover {
    background-color: #e8f4ff;
}

.col-2:hover a,.col-3 a:hover{
    color:red;
}
